body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:0px;
  top:0px;
  width:1536px;
  height:864px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:864px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:864px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:864px;
  opacity:0.5;
}
#u2 {
  position:absolute;
  left:2px;
  top:424px;
  width:1532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u3 {
  position:absolute;
  left:330px;
  top:1050px;
  width:170px;
  height:170px;
}
#u4 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:fixed;
  left:0px;
  top:60px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:675px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:675px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:675px;
  opacity:0.3;
}
#u8 {
  position:absolute;
  left:2px;
  top:330px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u11 {
  position:absolute;
  left:0px;
  top:75px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u13 {
  position:absolute;
  left:0px;
  top:150px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u15 {
  position:absolute;
  left:0px;
  top:225px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u17 {
  position:absolute;
  left:0px;
  top:300px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u19 {
  position:absolute;
  left:0px;
  top:375px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u21 {
  position:absolute;
  left:0px;
  top:450px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u23 {
  position:absolute;
  left:0px;
  top:525px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u24 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:75px;
}
#u25 {
  position:absolute;
  left:0px;
  top:600px;
  width:140px;
  height:75px;
  opacity:0.3;
  font-size:16px;
  color:#FFFFFF;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u26 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u27 {
  position:fixed;
  left:0px;
  top:0px;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1536px;
  height:50px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:50px;
  opacity:0.05;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:1532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:50px;
}
#u31 {
  position:absolute;
  left:29px;
  top:0px;
  width:82px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:470px;
  top:5px;
  width:390px;
  height:40px;
  opacity:0.2;
}
#u34_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:3px 3px 15px rgba(0, 204, 255, 0.349019607843137);
  -webkit-box-shadow:3px 3px 15px rgba(0, 204, 255, 0.349019607843137);
  box-shadow:3px 3px 15px rgba(0, 204, 255, 0.349019607843137);
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u36 {
  position:absolute;
  left:780px;
  top:5px;
  width:80px;
  height:40px;
  font-size:18px;
}
#u36_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 238, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u36.mouseOver {
}
#u36_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 238, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u36.mouseDown {
}
#u37 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:-45px;
  top:-45px;
  width:130px;
  height:130px;
}
#u38 {
  position:absolute;
  left:480px;
  top:10px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:520px;
  top:5px;
  width:250px;
  height:40px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u41 {
  position:absolute;
  left:340px;
  top:1310px;
  width:170px;
  height:170px;
}
#u42 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
